h1 {
    font-size: 20px;
}
.fundoVermelho {
    background-color: #c00;
}
.negrito {
    font-weight: bold;
}
#textoPrincipal {

    font-size: 40px;
    font-weight: bold;
    padding: 10px 50px;
    background-color: #444;
    color: #fff;
    padding: 10px;

}